/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{-webkit-box-sizing:border-box;box-sizing:border-box}*,*::before,*::after{-webkit-box-sizing:inherit;box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left}

/* Propiétés générales */ 

:root {
    --primary-color: rgba(250,250,250 ,1);
    --secondary-color: rgba(69,90,100 ,1);
    --tertiary-color: rgba(144,164,174 ,1);
}

.contain {
    font-family: 'Source Sans Pro', sans-serif;    
    width: 900px;
    height: auto;
    margin: 50px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 1.4;
    font-size: 15px;
    color: rgba(0, 0, 0);
    background: var(--primary-color);
    border: 1px solid rgba(0, 0, 0, .7);
    -webkit-box-shadow: 5px 0px 5px rgba(0, 0, 0, .7) ;
            box-shadow: 5px 0px 5px rgba(0, 0, 0, .7) ;
}

a {
    color: inherit;
    text-decoration: none ;
    color: rgba(0, 0, 0, .4);
    -webkit-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}

a:hover {
    color: black;
    border-left: 1px solid black;
    padding-left: 5px;
}

/* Lefside */

.leftside {
    width: 315px;
    background-color: var(--secondary-color);
    padding: 30px 40px;
    border-right: 1px solid rgba(0, 0, 0, .7);
    -webkit-box-shadow: 5px 0px 5px rgba(0, 0, 0, .7) ;
            box-shadow: 5px 0px 5px rgba(0, 0, 0, .7) ;
}

.img {
    display: block;
    margin: 20px auto 50px;
    border-radius: 50%;
    border: 3px solid var(--tertiary-color);
    -webkit-box-shadow: 5px 0px 5px rgba(0, 0, 0, .7) ;
            box-shadow: 5px 0px 5px rgba(0, 0, 0, .7) ;
}

.leftside h3 {
    width: 316px;
    padding: 5px 0;
    text-align: center;
    background-color: var(--tertiary-color);
    -webkit-transform: translateX(-41px);
        -ms-transform: translateX(-41px);
            transform: translateX(-41px);
    border: 1px solid rgba(0, 0, 0, .7);
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--secondary-color);
    margin-bottom: 25px;
}

.leftside p {
    margin-bottom: 20px;
    text-align: justify;
}


.leftside p:nth-child(5) {
    margin-bottom: 250px;
}


.icone-loisirs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 0;
}

.icone-loisirs p {
    margin: 0;
    font-size: 1.5em;
    opacity: .5;
    border: 3px solid rgba(0, 0, 0, .6);
    border-radius: 50%;
    padding: 10px 15px;
    -webkit-box-shadow: 5px 0px 5px rgba(0, 0, 0, .7) ;
            box-shadow: 5px 0px 5px rgba(0, 0, 0, .7) ;
}

/* Rightside */

.rightside {
    width: calc(100% - 315px);
    padding: 50px 30px 30px 50px;
}

.id {
    height: 250px;
}

h1 {
    font-size: 3em;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 50px;
}

.prenom {
    font-weight: 600;
    color: var(--secondary-color);
}

h2 {
    font-size: 1.6em;
    opacity: .7;
    font-weight: 600;
}

.underline {
    border-bottom: 2px solid var(--secondary-color);
}

.rightside h3 {
    font-weight: 600;
    font-size: 2em;
    border-bottom: 2px solid var(--tertiary-color);
    padding: 15px 0 10px;
    margin-bottom: 30px;
    text-transform: uppercase;
}


h3 i {
    color: var(--secondary-color);    
    padding-right: 30px;
}

article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 40px;
}

.puce {
    width: 33px;
    padding-right: 20px;
    font-size: .6em;
    color: var(--secondary-color);
}

article:nth-of-type(1) i,
article:nth-of-type(4) i {
    font-size: 1.5em;
    font-weight: bold;
}

.date {
    min-width: 160px;
}

.etablissement {
    width: 100%;
}

.rightside h4 {
    font-size: 1.3em;
    font-weight: 600;
    opacity: .7;
    text-transform: uppercase;
    margin: 5px 0 10px;
}

.intitule {
    opacity: .7;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.reco {
    opacity: .7;
    line-height: 1.5em;
}

.reco:first-of-type {
    min-width: 250px;
}

.capitalize {
    text-transform: uppercase;
    opacity: 1;
    font-weight: 600;
}
/*Partie responsive*/

@media  screen and (max-width: 900px) {

    .contain {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 0;
        margin-bottom: 0;
    }

    .leftside {
        width: 100%;
        padding-left: 60px;
        padding-right: 60px;
    }

    .leftside h3 {
        width: calc(100% + 120px);
        -webkit-transform: translateX(-60px);
            -ms-transform: translateX(-60px);
                transform: translateX(-60px);
    }

    .text-contact h4,
    .text-contact p {
        text-align: center;
    }

    .leftside p:nth-child(5) {
        margin-bottom: 50px;
    }

    .icone-loisirs {
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }

    .rightside {
        width: 100%;
        padding-left: 80px;
        padding-right: 80px;
    }

    .id {
        width: 100%;
        text-align: center;
    }

    .recommandations {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }

    .reco:first-of-type { 
        min-width: 0;
    }

}

@media screen and (max-width: 644px) {
    .rightside {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 550px) {
    
    .leftside {
        padding-left: 10px;
        padding-right: 10px;
    }

    .leftside h3 {
        width: calc(100% + 20px);
        transform: translateX(-10px);
    }

    .id {
        text-align: left;
    }

    .date {
        min-width: 80px;
        margin-right: 10px;
    }
}