/* Propriétés générale*/

* {
	box-sizing: border-box;
}
 body {
 	margin: 0;
 	padding-top: 50px;
    font-family: 'PT Sans', sans-serif;
 }

 .contain {
 	max-width: 900px;
 	margin: auto;
 	border: 1px black solid;
 	display: flex;
 	flex-direction: column;
 }

 /*fin des propriétés générales*/

 /* Mise en page du HEADER*/

 .prez {
 	width: 100%;
 	display: flex;
 }

 .bloc_photo {
 	width: 315px;
 	background-color: #2874A6;
 	border-right: 1px solid black;
 }

.bloc_photo img {
 	display: block;
 	border-radius: 50%;
 	margin: 45px auto 45px auto;
 	border: 2px #1B4F72 ridge;
 }


 .id {
 	width: calc(100% - 315px);
 	padding: 90px 0 0 50px;
 }

 .id h1 {
 	font-size: 50px;
 	line-height: 0.1;
 	text-transform: capitalize;
 	opacity: 1;
 	font-weight: normal;
 }

 .prenom {
 	color: #154360;
 	font-weight: bold;
 }

 .id h2 {
 	font-size: 30px;
 	opacity: .8;
 }

 .underline {
 	border-bottom: 2px rgba(21, 67, 96) solid;
 }

 /* Fin de mise en page du HEADER*/


 